{{> header}}

<div id="container">
    <div class="slider">
        <div class="slider-img">
            <img src="/img/slider-img/slider1.jpg">
        </div>

        <div class="slider-img">
            <img src="">
        </div>

        <div class="slider-img">
            <img src="">
        </div>
    </div>
</div>

{{> footer}}