{{> header}}

<div id="container">
    <div class="slider">
        <div class="slider-img slider-active">
            <img src="/img/slider-img/slider1.jpg">
        </div>

        <div class="slider-img">
            <img src="/img/slider-img/slider2.png">
        </div>

        <div class="slider-img">
            <img src="/img/slider-img/slider3.jpg">
        </div>
    </div>

    <h1 class="product-carts--header">Sản phẩm</h1>
    <div class="grid">
        <div class="grid-row">
            <div class="product-carts grid-row-4">
                {{#each data ~}}
                    <div href="" class="product-item">
                        <img class="product-img" src="{{imgAddress}}">

                        <div class="product-infor">
                            <div class="product-name">
                                <span>{{name}}</span>
                            </div>

                            <div class="product-price">
                                <span>{{price}} VND</span>
                            </div> <br>
                        </div>
                    </div>
                {{~/each}}
            </div>
        </div>
    </div>
</div>

<script type="module" src="/script/homePage.js"></script>

{{> footer}}