<header>
    <div class="header grid-row">
        <div class="header-logo">
            <a href=""><img src="/img/25-gangz-logo.png"></a>
        </div>

        <ul class="header-navbar">
            <li><a class="header-navbar--active" href="">Sản phẩm</a></li>
            <li><a href="">Giỏ hàng</a></li>
            <li><a href="">Giới thiệu</a></li>
        </ul>

        <ul class="account-navbar">
            <li><a href="">Đăng Nhập</a></li>
            <li><a href="">Đăng Ký</a></li>
        </ul>
    </div>
</header>