<header>
    <div class="header grid">
        <div class="header-logo">
            <a href=""><img src="/img/25-gangz-logo.png"></a>
        </div>

        <ul class="header-navbar">
            <li><a class="header-navbar--active" href="">Sản phẩm</a></li>
            <li><a href="">Giới thiệu</a></li>
            <li><a href="" class="header-cart--icon">
                <i class="fa-solid fa-cart-shopping"></i>
            </a></li>
        </ul>
    </div>
</header>