// Header

header {
    height: 80px;
    background-color: $white-color;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.header {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

header li {
    list-style-type: none;
}

header li a {
    text-decoration: none;
    color: $black-color;
    text-transform: uppercase;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo a img {
    width: 110px;
    height: auto;
    margin-top: 8px;
}

.header-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-navbar li {
    margin: 0 4px;
}

.header-navbar li a {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.header-navbar li a:hover {
    border: 1px solid $black-color;
    margin: -1px;
}

.header-cart--icon i {
    font-size: 20px;
}

// ***********************

#container {
    margin-top: 80px;
}

// Slider

.slider img {
    width: 100%;
    object-fit: cover;
}

.slider-img {
    display: none;
}
// ***********************

// Product cart

.product-carts--header {
    text-align: center;
    text-transform: uppercase;
    color: #000050;
    font-size: 24px;
    font-weight: 500;
    margin: 60px 0 40px 0;
}

.product-carts--header::before,
.product-carts--header::after {
    background-color: #d8d8d8;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 4em;
    margin: 0 0.5em;
}

.product-carts {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
}

.product-item {
    max-width: 23%;
    margin: 16px 11px 0 8px;
}

.product-img,
.product-name, 
.product-price, 
.product-infor {
    width: 100%;
}

.product-img {
    height: 80%;
    object-fit: cover;
}

.product-name, 
.product-price {
    display: flex;
    justify-content: center;
}

.product-name {
    line-height: 1.5em;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-size: 18px;
    color: $black-color;
}

.product-price {
    font-size: 17px;
    color: rgb(130, 130, 130);
    margin: 8px 0;
}

.product-carts--hover::before {
    content: '';
    display: block;
    width: 70%;
    height: 30px;
    border-radius: 2px;
    background-color: aquamarine;
    position: relative;
    top: 200px;
    align-items: center;
}

// ***********************